

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    margin:10px 0;
    width:30%;
    border: 1px solid black;
    height: 300px;
    cursor:pointer;
}
